<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLASSES</title>
</head>
<body>
<h1>CLASSES</h1>
{{#classes}}
<div>
    <h2>Class {{name}}</h2>
    <p><span>Level:</span> {{level}}</p>
    <h3>Students in the class:</h3>
    <ul>
        {{#students}}
        <li>{{first_name}} {{name}}</li>
        {{/students}}
    </ul>
    <h3>Subjects given:</h3>
    <ul>
        {{#subjects}}
        <li>{{first_name}} {{name}}</li>
        {{/subjects}}
    </ul>
</div>
</body>
</html>