<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLASS</title>
</head>
<body>
<h1>CLASS</h1>
<form method="POST" action="/uClass">
    {{#classes}}
    <input type="hidden" name="_id" value="{{_id}}">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{name}}">
    </div>
    <div>
        <label for="level">Level</label>
        <input type="text" id="level" name="level" value="{{level}}">
    </div>
    {{/classes}}
    <input type="submit" name="action" value="UPDATE">
    <input type="submit" name="action" value="DELETE">
</form>
<ul>
    {{#students}}
    <li>
        <h2>{{name}}</h2>
    </li>
    {{/students}}
</ul>

</body>
</html>